gunicorn==21.2.0
fastapi==0.116.2
google_search_results==2.4.2
httptools==0.6.4
jsonpointer==2.1
matplotlib==3.10.0
oauthlib==3.3.1
opencv-python==4.12.0.88
polars==1.33.1
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
pypng==0.20220715.0
setuptools==72.1.0
torch==2.8.0
torchvision==0.23.0
Django
wheel==0.45.1
numpy==2.1.3
python-decouple
whitenoise
dj_database_url
django-environ
django_apscheduler







