{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <h1>名言</h1>
        <form action="{% url 'diary:index' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="change_bg" value="1">
            <input type="submit" value="表示">
        </form>

        {% if message %}
            <audio id="myAudio" src="{% static 'diary/videoplayback.m4a' %}" loop autoplay></audio>
            <script>
            document.addEventListener('click', function playBGM() {
                document.getElementById('myAudio').play();
                document.removeEventListener('click', playBGM);
            });
            </script>

            <audio id="voiceAudio" src="{% static 'diary/output.mp3' %}" autoplay style="display:none;"></audio>
            <script>
            const voiceAudio = document.getElementById('voiceAudio');
            if (voiceAudio) {
                voiceAudio.playbackRate = 1.15;
            }
            </script>
            
            <h1>{{ message }}</h1>
            <h2>{{ message_hito }}</h2>
        {% endif %}
    </div>
{% endblock %}